@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
  font-family: "JSDongkang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #5567ff;
  --error-color: #e74c3c;
  --gray-border: #e1e2e3;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dde5fa;
  font-family: "JSDongkang-Regular";
}

.container {
  width: 375px;
  background-color: #fff;
  border-radius: 30px;
  
}

h2 {
  margin: 0 0 20px;
  text-align: center;
  color: #333;
}

.form {
  padding: 30px 40px;
}

.form_control {
  margin: 0 0 10px 0;
  position: relative;
}

.form_control label {
  display: none;
  margin: 0 0 5px;
  font-size: 14px;
}

.form_control input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: block;
  border: 0;
  border-bottom: 1px solid var(--gray-border);
  color: #777;
}

.form_control.success input {
  border-bottom: 1px solid var(--main-color);
}

.form_control.error input {
  border-bottom: 1px solid var(--error-color);
}

.form_control small {
  position: absolute;
  bottom: 5px;
  right: 10px;
  visibility: hidden;
  color: var(--error-color);
  font-size: 10px;
}

.form_control.error small {
  visibility: visible;
}
.form_control.success small {
  visibility: visible;
  color: var(--main-color);
}
.form_control.check small {
  visibility: visible;
}

.btn_submit {
  width: 100%;
  height: 40px;
  margin: 10px 0 0;
  line-height: 40px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: gray;
  text-align: center;
  text-transform: uppercase;
}
.btn_signin {
  width: 100%;
  height: 40px;
  margin: 10px 0 0;
  line-height: 40px;
  background-color: #dde5fa;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size:14px;
  cursor: pointer;
}
.btn_signin:hover {
  background-color: var(--main-color);
}
.btn_login {
  width: 100%;
  height: 40px;
  margin: 10px 0 0;
  line-height: 40px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
span{
  width: 100%;
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #777;
}

.notice {
  padding: 15px 20px;
  cursor: pointer;
  position: fixed;
  bottom: -70px;
  transition: transform 0.3s ease-in-out;
  background:rgba(0,0,0,.3);
  border-radius: 10px 10px 0 0;
  color: #fff;
}

.notice.show {
  transform: translateY(-50px);
}