@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
.category_wrapper{
	font-size: 0px;
	position: absolute;
	z-index: 9;
	top: 40px;
	left: 738.5px;
	
}
.category{
	display:inline-block;
	background-color: #ffffff;
}

.category_content{
	width: 210px;
	height: 350px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 17px;
	padding-bottom: 17px;
	border: 1px solid rgb(217,217,217);
}

.category_content li{
	width:175px;
	height:25px;
	margin-top:6px;
	margin-bottom:6px;
	background-color: #ffffff;
	padding-left: 13px;
	padding-right: 10px;
	padding-top:2px;
	font-family: "고딕";
	font-size: 13px;
}

.category_content li:hover{
	background-color: yellow;
}

.mouse_check{
	width:100px;
	height:90px;
	opacity:0;
}

.mouse_check2{
	display: none;
}

a:link {
	color: white; text-decoration: none;
}
a:visited {
	color: white; text-decoration: none;
}
a:hover {
	color: white; text-decoration: none;
	font-weight: bold;
}

